body {
    font-family: Arial, sans-serif;
    background-image: url('../bg/5432299.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
}

form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); 
}

label {
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 10px;
    transform: scale(2);
}

button {
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #3498db;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(71, 216, 71, 0.1); 
}

button:hover {
    background-color: #2980b9;
}

.Reset {
    float: right;
}
